@model PinCodeModel

<h1>@Model.Code</h1>
<br />
<h2>CurDate:@DateTime.Now.ToLongTimeString()</h2>
<br />
<h2>Expires:@Model.Exp.ToLongTimeString()</h2>

<script src="~/lib/microsoft-signalr/signalr.js"></script>
<script src="~/js/SR.js"></script>